<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django + chart</title>

    {% include 'js_css/css.html' %}
    {% include 'js_css/bootstrap_defaults.html' %}
  </head>
  <body>
    <h1 style="text-align:center">python+django+django rest framework+echarts+chart.js可视化分析展示</h1>
    <div class='container'>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'js_css/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>
</html>
